.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
a{
    color: inherit;
    text-decoration: none;
}

li{
    list-style: none;
}
*{
    margin: 0;
    padding: 0;
    /* border:1px solid black */
}
body{
    background: #efefef;
    /* color: white; */

}
span.rs{
    color: #F75764;
    font-size: 24px;
    font-weight: bold;
}
span.card{
    color: #999B7D;
    font-size: 24px;
    font-weight: bold;
}
.topNavBar nav ul li{
    float: left;
    font-size: 12px;
    color: #999B7D;
    font-weight: bold;
    padding:0 17px;
}

.topNavBar nav{
    float: right;
    padding-top: 6px;
    padding-bottom: 6px;
}
a.logo{
    float: left;
}
.topNavBar nav ul li a{
    border-bottom:3px solid #F75764;
    padding-bottom: 5px;
    display: block;
}
.topNavBar{
    padding-top: 24px;
    padding-bottom: 24px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%
}
.banner{
    height:515px;
}
.topNavBar-ct{
    padding-left: 20px;
    padding-right: 1px;
}
.banner{
    background-position:center center;
    background-size: cover;
}
.banner .mask{
    height: 515px;
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.8);
}
.userCard{
    border:1px solid black;
    max-width: 940px;
    margin: 0 auto;
    background: #ffffff;
}
.userCard .welcome{
    background: #F75764;
    color: #ffffff;
}
.userCard .welcome {
    padding: 6px 16px;
    font-weight: bold;
    position: relative;
    display: inline-block;
}
.triangle{
    border: 10px solid transparent;
    width: 0;
    border-left-color: #F75764;
    border-top-width: 0;
    display: inline-block;
    position: absolute;
    top: 26px;
    left: 10px;
}
div.userCard div.picture,div.userCard div.text{
    float: left;
}
div.userCard div.picture{
    margin-right: 65px;
}
.pictureAndText.clearfix {
    padding: 50px;
}
hr {
    width: 473px;
    margin-top: 24px;
    margin-bottom: 30px;
    color: #dedede;
    /* border: 2px solid black; */
}
h1 {
    margin-top: 30px;
}
.userCard dl dd, .userCard dl dt {
    float: left;
    /* width: 15%; */
}



