.web-loading{  position: relative;width:200px;height:200px }
.web-loading::before,.web-loading::after{ content: ''; width:1px; height:1px; border-radius:50%; position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: auto; background: black; animation: s 1.5s linear infinite; }
.web-loading::after{ animation-delay: 0.75s; }
@keyframes s{ 0%{ width:0px; height:0px; opacity: 1; } 100%{ width:50px; height:50px; opacity: 0; } }