.clearfix::after{ content: ''; display: block; clear: both; }
body{ background: rgb(239, 239, 239); }
a{ color: inherit; text-decoration: none; }
li{ list-style: none; }
*{ margin: 0; padding: 0; }
span.rs { font-size: 22px; color: #e6686a; }
span.card { font-size: 21px; color: #9a9da2; }
div.nav a { font-size: 12px; font-weight: bold; color: rgb(183, 183, 183); float: left; margin: 0 18px; padding-bottom: 5px; border-bottom: 3px solid transparent; }
div.nav a:hover { border-bottom: 3px solid #e06567; }
div.nav { float: right; padding: 6px 0; }
div.nav-ct>a{ float: left; }
.nav-ct { padding: 20px; position: fixed; /* height: 50px; */ /* line-height: 50px; */ width: 100%; }
.background-img { height: 515px; background-position: center center; background-size: cover; }
.mask { height: 515px; background: rgba(0,0,0,0.6); }
.nav-ct1 { padding-right: 20px; }
div.card { max-width: 940px; margin: 0 auto; background: #ffffff; box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.75); }
span.welcome { display: inline-block; /* height: 30px; */ padding: 6px 14px; background: #e06567; color: white; position: relative; }
span.triangle { border: 7px solid transparent; display: block; width: 0; border-top-color: #e06567; border-left-color: #e06567; position: absolute; top: 22px; left: 6px; }
h1 { padding-top: 30px; }
hr { margin: 25px 0; }
dl dt { float: left; width: 200px; font-weight: bold; /* font-size: 12px; */ margin: 9px 0; }
dl dd { float: left; /* padding: 3px 0; */ line-height: 26px; height: 26px; color: rgb(157, 160, 167); width: 100px; margin: 9px 0; }

.text { float: left; }

img.avatar { float: left; }
.img-text-ct { padding: 50px; }
.text { float: left; padding-left: 67px; width: 470px; }
.footer { text-align: center; background: rgb(230, 104, 106); color: white; font-size: 27px; padding: 11px 0 }
.footer a { margin: 0 40px; width: 40px; height: 40px; width: 40px; height: 40px; display: inline-block; line-height: 40px; }
.footer a:hover{ border-radius: 50%; background: rgba(0,0,0,0.6) }
div.card { max-width: 940px; margin: 0 auto; background: #ffffff; margin-top: -270px; }
a.download { border: 1px solid #cdcfc1; padding: 15px 46px; display: inline-block; font-weight: bold; line-height: 16px; height: 16px; border-radius: 2px; color: #3d4451; transition: all 0.2s ease-out; }
p.download-ct { text-align: center; padding: 30px 0; }
a.download:hover{ box-shadow: 0px 6px 9px 1px rgba(0,0,0,0.54); }
p.abstract { max-width: 940px; margin: 0 auto; text-align: center; line-height: 2.2; }
.skill-section { max-width: 940px; margin: 58px auto; }
.skill-section h2 { padding-bottom: 32px; text-align: center; }

.skill-section h2 { font-size: 32px; color: #404457; padding-bottom: 32px; text-align: center; }
.skill-section ul { background: #fff; box-shadow: 0px 1px 0px 1px rgba(0,0,0,0.2); max-width: 940px; margin: 0 auto; padding: 34px 46px; }
.skill-section ul li{ font-size: 14px; }
.gap-ct{ border:1px solid #fae1e1; height:5px; border-radius: 2px; background: #fae1e1; }
.gap{ background: #e6686a; height: 100%; width:30%; padding-top:1px; }
.skill-section ul li { float: left; width: 48%; padding: 20px 0; }
.skill-section ul li:nth-child(even){ float: right; }
.words-section { max-width: 940px; margin: 46px auto; text-align: center; }
.words-section h2 { padding-bottom: 31px; font-size: 32px; color: #404457; }
.words-section ul li { float: left; padding-right: 40px; cursor: pointer; }
.words-section ul li:nth-last-child(1) { padding-right: 0; }
.wordNav { display: inline-block; }
.wordNav { display: inline-block; margin-bottom: 30px; }
.bar { height: 5px; background: white; border-radius: 2px; margin-top: 7px; }
.bar-inner{ height:100%; background: #e6686a; width:20%; border-radius: 2px; transition: all 0.3s; }
.wordNav .bar.state-1 .bar-inner{ margin-left: 0; }
.wordNav .bar.state-2 .bar-inner{ margin-left: 72px; }
.wordNav .bar.state-3 .bar-inner{ margin-left: 143px; }
.img-ct{ position: relative; }
.img-ct img{ position: absolute; top: 0; left:0; } 

img.second { left: 648px; }
img.third { top: 312px; left: 648px; }


