.wrapper{
    display: inline-block;
}
main{
    text-align: center;
}
main .wrapper div kbd {
    position: relative;
    border: 1px solid black;
    width: 5em;
    height: 5em;
    display: inline-block;
    margin: 5px;
    text-align: center;
    line-height: 5em;
}
.wrapper div kbd button:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
}
.wrapper div kbd button:nth-child(2) {
    position: absolute;
    bottom: 0;
    left: 0;
}

