#xxx{
    background: green;
}
*{
    margin: 0;
    padding:0;
}
.action{
    position: fixed;
    bottom: 0;
    left:0;
}

/* 显示画笔 */
.action.x > .eraser{
    display: none;
}
.action.x > .brush{
    display: inline-block;
}
/* 显示橡皮差 */
.action > .eraser{
    display: inline-block;
}
.action > .brush{
    display: none;
}
