li{
    list-style: none;
}
*{
    margin: 0;
    padding:0;
}

body{
    position: fixed;
    top: 0;
    left:0;
}
.action{
    position: fixed;
    top: 0;
    left:0;
    
}


/* 普通状态 */
.action svg{
    width:1.5em;
    height:1.5em;
    margin:15px;
    
}
.action #eraser{
    position: fixed;
    right: 0;
    top: 0;
}



/* 激活状态 */
.action svg.active{
    color:red;
    transform: scale(1.2)
}

.action ol.colors{
    display: none;
    padding: 0 5px; 
    position: fixed;
    top: 50px;
    left: 14px;
    transition: all 0.3s;
}

.action ol.colors.active{
    display: inline-block;
}

.action ol.colors li {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 10px 0;
    box-shadow: 0 0 3px rgba(0,0,0,0.4);
    transition: all 0.3s;
}
.action ol.colors li.black {
    background: black;
}
.action ol.colors li.red {
    background: red;
}
.action ol.colors li.yellow {
    background: yellow;
}
.action ol.colors li.green {
    background: green;
}

.action ol.colors li.active {
    transform: scale(1.5)    
}



.action .sizes {
    display: none;
    position: fixed;
    top: 11px;
    left: 58px;
    width: 89px;
    height: 63px;
    text-align: center;
}
.action .sizes.active {
    display: inline-block;
}
.action .sizes li{
    border-radius: 50%;
    display: inline-block;
}
.action .sizes li.thin {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    margin-bottom: 5px;
}
.action .sizes li.normal{
    width:20px;
    height:20px;
    border:1px solid black;
    margin-bottom: 3px;
}
.action .sizes li.thick{
    width:25px;
    height:25px;
    border:1px solid black;
}

.clear{
    position: fixed;
    top: 0;
    right:80px;
    font-size: 17px;
}

div.undo{
    position: fixed;
    top: 0;
    right:42px;
}

.action .download{
    position: fixed;
    top: 1px;
    right:125px;
}

.action .download.active{
    color:red;
    transform: scale(1.2)
}


#withdraw {
    position: fixed;
    top: 10px;
    right: 400px;
}





